@import "tailwindcss";

:root {
  /* Painel */
  --black: #0d0d0d;
  --black-2: #121212;
  --black-3: #14171a;
  --input-bg: #262626;
  --input-border: #333333;

  --white: #ffffff;
  --gray: #b3b3b3;

  --primary: #eb4432;
  --primary-hover: #d63d2d;
}
